<?xml version="1.0" encoding="utf-8"?>
<plugin id="org.example.logiclinkplugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		LogicLinkPlugin
	</name>
	<license>MIT</license>
	<keywords>cordova,file,open,intent,video,audio,image,photo,pdf</keywords>
	<repo>https://github.com/JOSEOSTI/LogicLinkPlugin</repo>
	<js-module name="LogicLinkPlugin" src="www/LogicLinkPlugin.js">
		<clobbers target="cordova.plugins.LogicLinkPlugin" />
		<merges target="cordova.plugins.LogicLinkPlugin"/>
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="LogicLinkPlugin">
				<param name="android-package" value="org.example.logiclinkplugin.LogicLinkPlugin" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
			<provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.provider" android:exported="false" android:grantUriPermissions="true">
				<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
			</provider>
		</config-file>
		<source-file src="src/android/LogicLinkPlugin.java" target-dir="src/org/example/logiclinkplugin" />
		<source-file src="src/android/provider_paths.xml" target-dir="res/xml"/>
	</platform>
	<dependency id="cordova-plugin-file" />
	<dependency id="cordova-plugin-file-transfer" />
</plugin>