<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.mba3.cordofileopen" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Myplugin</name>
	<license>MIT</license>
	<js-module name="logicLinkPlugin" src="www/LogicLinkPlugin.js">
		<clobbers target="cordova.plugins.cordoFileOpen" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="logicLinkPlugin">
				<param name="android-package" value="com.mba3.cordofileopen" />
			</feature>
		</config-file>
	   <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
		<config-file parent="application" target="AndroidManifest.xml">
			<provider  android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.provider" android:exported="false" android:grantUriPermissions="true">
				<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
			</provider>
		</config-file>
		<source-file src="src/android/LogicLinkPlugin.java" target-dir="src/com/mba3/cordofileopen"/>
		<source-file src="src/android/provider_paths.xml" target-dir="res/xml"/>
	</platform>
	<!-- <dependency id="cordova-plugin-file"/>
	<dependency id="cordova-plugin-file-transfer"/> -->
</plugin>